header {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.header-menu a {
  display: block;
  padding: 15px 30px;
  position: relative;
  transition: hover 0.20s;
  text-transform: uppercase;
}

.header-menu a:hover {
  top: -5px;
}

@media (max-width: 650px) {
  header {
    flex-direction: column;
    gap: 30px;
  }
  
  .header-menu {
    flex-direction: column;
  }

  .header-menu a {
    background: #E0E0E0;
    border-radius: 5px;
    text-align: center;
    transition: box-shadow 0.15s;
    font-weight: 500;
  }

  .header-menu a:hover {
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
  }
}